---
const { data } = Astro.props;
console.log(data);
---

<a href={`product/${data.slug}`}>
  <article class="item-card">
    <img src={data.Image} alt={data.Name} class="item-image" />
    <div class="item-details">
      <p class="location">{data.Location}</p>
      <h2>
        {data.Name}
      </h2>
      <p class="size">{data.Size}</p>
    </div>
  </article></a
>

<style>
  .item-card {
    width: 150px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    text-decoration: none;
  }

  .item-image {
    width: 100%;
    height: auto;
  }

  .item-details .location,
  a {
    font-style: italic;
    font-size: 10px;
    margin-bottom: 4px;
    color: #000;
    text-decoration: none;
  }

  .item-details h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }

  .item-details .size {
    font-size: 8px;
    margin-top: 4px;
  }
  .item-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  }
</style>
